


* {
    margin: 0;
    padding: 0;
}

body{
    color: rgb(0, 0, 0);
    font-family: "Noto+Sans", Arial;
}

h1{
    margin-left: 5px;
}

.navbar {
    display: flex;
    margin-top: 10px; 
}

    .dark-mode {
      background-color: rgb(28, 28, 28);
      color: white;
  }
  
  
  .dark-mode a {
      color: white; 
  }

  .dark-mode a:hover{
    color: #a1a1a1;
  }
  
  .dark-mode button {
      background-color: rgb(28, 28, 28);
      color: white;

  }
  

ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 90%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a:hover{
    color:#929191;
  }
  

  .button{
    display: flex;
    justify-content: flex-end;
    border-radius: 50px;
    background-color: white;
  }

  h2{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  h3{
    margin-bottom: 10px;
  }

  .New {
     display: flex; 
    justify-content: center;
    margin-top: 30px;
  }

  .text{
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
  }
  .imgStart{
    display: flex;
    
    flex-direction: row;
    margin-left: 120px;
    margin-top: 60px;
  }

  .imgright{
    margin-right: 10px;
    object-fit: cover;
  }

  .graf{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  img {
    max-width: 100%;  
  }

  .imgcontainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .contact{
    margin-left: 80px;
  }
 